{
  "extends": [ "eslint:recommended","plugin:react/recommended"],
  "env": {
    "node": true,
    "browser": true,
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
          "arrowFunctions": true,
          "blockBindings": true,
          "classes": true,
          "defaultParams": true,
          "destructuring": true,
          "forOf": true,
          "generators": false,
          "modules": true,
          "objectLiteralComputedProperties": true,
          "objectLiteralDuplicateProperties": false,
          "objectLiteralShorthandMethods": true,
          "objectLiteralShorthandProperties": true,
          "spread": true,
          "superInFunctions": true,
          "templateStrings": true,
          "restParams": true,
          "jsx": true
      },
      "sourceType": "module"
  },
  "rules": {
      
    }
}